fastapi==0.116.1
uvicorn==0.35.0
gunicorn==23.0.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.9
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
passlib==1.7.4
python-jose==3.5.0
python-multipart==0.0.20
python-jose[cryptography]==3.3.0
qrcode==8.2
pillow==11.3.0
razorpay==1.4.2
requests==2.32.5
email-validator==2.2.0
